body {
	    background: radial-gradient(white 20%, #E6E6E6); /* Standard syntax (must be last) */
}
	

#mainb {position: relative;
	padding: 15px;
	height: 10%;
	width: 50%;
	margin: 10 auto;
	margin-bottom: 0px;
	margin-top: 5%;
	margin-left: 25%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px outset purple;
	background: linear-gradient(to top, #efeae2, #f7f2e9);
	box-shadow: 12px 12px 24px grey;
}

#overlay {position: absolute;
	padding: 15px;
	height: 10%;
	width: 50%;
	margin: 10 auto;
	margin-bottom: 0px;
	margin-top: 5%;
	margin-left: 25%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid purple;
	background-color: grey;
	box-shadow: 12px 12px 24px grey;
	opacity: .8;
}


#box1 {background: linear-gradient(to bottom, #EDEDED, #FFFFFF);
#background-color: white;
               border: 2px solid purple;
               padding: 15px;
	       border-radius: 10px;
	       width: 80%;
               margin:  auto;
               transition: border 0s;
	      }

#box1:hover {
              border: 2px solid orange;              
               }

#altlinkbox1 a:visited, a:link, a:active, a:hover { 

		color: purple;
		text-decoration: none;
}

#box2 {background: linear-gradient(to bottom, #731472, #8b188a);
#background-color: purple; 
	       color: white;
               border: 2px solid purple;
               padding: 15px;
	       border-radius: 10px;
	       width: 80%;
               margin: 0 auto;
               transition: border 0s;
               }

#box2:hover {
         border: 2px solid orange; 
        }

#altlinkbox2 a:visited, a:link, a:active, a:hover { 

		color: purple;
		text-decoration:none;



}